USE [master]
GO
/****** Object:  Database [LifeTrackDB]    Script Date: 4/30/2025 10:05:23 AM ******/
CREATE DATABASE [LifeTrackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LifeTrackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LifeTrackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LifeTrackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LifeTrackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LifeTrackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LifeTrackDB]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetTodayTasksWithAlerts]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetTodayTasksWithAlerts]()
RETURNS @Result TABLE (
    ChallengeID INT,
    ArticleID INT,
    Title NVARCHAR(100),
    Description NVARCHAR(MAX),
    DurationTimes INT,
    TimesPerDay INT,
    TaskID INT,
    MeasurementID INT,
    AlertsJson NVARCHAR(MAX)
)
AS
BEGIN
    INSERT INTO @Result
    SELECT 
        c.ChallengeID,
        c.ArticleID,
        c.Title,
        c.Description,
        c.DurationTimes,
        c.TimesPerDay,
        t.TaskID,
        a.MeasurementID,
        (
            SELECT 
                a2.AlertID,
                a2.DateAndTime,
                a2.IsCompleted
            FROM Alerts a2
            WHERE 
                a2.TaskID = t.TaskID
                AND a2.IsCompleted = 0
                AND a2.DateAndTime >= CAST(GETDATE() AS DATE)
                AND a2.DateAndTime < DATEADD(DAY, 1, CAST(GETDATE() AS DATE))
            FOR JSON PATH
        )
    FROM Challenges AS c
    JOIN Tasks AS t ON t.ChallengeID = c.ChallengeID
    JOIN Alerts AS a ON a.TaskID = t.TaskID
        AND a.IsCompleted = 0
        AND a.DateAndTime >= CAST(GETDATE() AS DATE)
        AND a.DateAndTime < DATEADD(DAY, 1, CAST(GETDATE() AS DATE))
    GROUP BY 
        c.ChallengeID,
        c.ArticleID,
        c.Title,
        c.Description,
        c.DurationTimes,
        c.TimesPerDay,
        t.TaskID,
        a.MeasurementID

    RETURN
END
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurements](
	[MeasurementID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasurementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetAllMeasurements]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
              CREATE FUNCTION [dbo].[FN_GetAllMeasurements]()
RETURNS TABLE
AS
RETURN
(
    SELECT * FROM Measurements
);


             
     
  
 
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Articles__9C6270C8502FE0D6] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetAllArticles]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetAllArticles]()
RETURNS TABLE
AS
RETURN
(
    SELECT * FROM Articles
);


             
     
  
 
GO
/****** Object:  Table [dbo].[Alerts]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NULL,
	[MeasurementID] [int] NULL,
	[ScoreMeasurement] [nvarchar](max) NULL,
	[Notice] [nvarchar](max) NULL,
	[DateAndTime] [datetime] NULL,
	[IsCompleted] [bit] NULL,
 CONSTRAINT [PK__Alerts__EBB16AED6BFE7033] PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Challenges]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Challenges](
	[ChallengeID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[DurationTimes] [int] NULL,
	[TimesPerDay] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChallengeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[ChallengeID] [int] NULL,
	[IsCompleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON 

INSERT [dbo].[Alerts] ([AlertID], [TaskID], [MeasurementID], [ScoreMeasurement], [Notice], [DateAndTime], [IsCompleted]) VALUES (1, 1, 4, N'Yes', N'1. اريد اكمل عملية تسجيل دخول والخروج للموقع كامل.
2. اعمل نظرها لل cv حقي واشوف الذي ناقصلها .
3.ارجع المشاريع ورفعها على جت هب مثل حق الدكتور وشوف ايش الاخطاء ورفعها اولاين .', CAST(N'2025-04-23T07:05:00.000' AS DateTime), 1)
INSERT [dbo].[Alerts] ([AlertID], [TaskID], [MeasurementID], [ScoreMeasurement], [Notice], [DateAndTime], [IsCompleted]) VALUES (2, 2, 4, N'Yes', N'1.اكمل المهام الذي كاتبة مثل اصلاح تسجيل حساب جديد في هذا الحساب افهم الاكود الذي كتبتها .
2. اشوف ال cv حقي واعدل عليها حق العربي ,اشوف لينكدا اند وضيف لها شهايد  .
3. شوف بروجيكت الدكتور صلحها ورفعها من جديد .', CAST(N'2025-04-24T07:05:00.000' AS DateTime), 1)
INSERT [dbo].[Alerts] ([AlertID], [TaskID], [MeasurementID], [ScoreMeasurement], [Notice], [DateAndTime], [IsCompleted]) VALUES (3, 3, 4, NULL, NULL, CAST(N'2025-04-25T07:05:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Challenges] ON 

SET IDENTITY_INSERT [dbo].[Challenges] OFF
GO
SET IDENTITY_INSERT [dbo].[Measurements] ON 

INSERT [dbo].[Measurements] ([MeasurementID], [Title]) VALUES (1, N'Number')
INSERT [dbo].[Measurements] ([MeasurementID], [Title]) VALUES (2, N'Time')
INSERT [dbo].[Measurements] ([MeasurementID], [Title]) VALUES (3, N'Text')
SET IDENTITY_INSERT [dbo].[Measurements] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [ChallengeID], [IsCompleted], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 0, CAST(N'2025-04-22T14:20:09.850' AS DateTime), CAST(N'2025-04-22T14:20:09.850' AS DateTime))
INSERT [dbo].[Tasks] ([TaskID], [ChallengeID], [IsCompleted], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 0, CAST(N'2025-04-22T14:20:09.903' AS DateTime), CAST(N'2025-04-22T14:20:09.903' AS DateTime))
INSERT [dbo].[Tasks] ([TaskID], [ChallengeID], [IsCompleted], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 0, CAST(N'2025-04-22T14:20:09.907' AS DateTime), CAST(N'2025-04-22T14:20:09.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [IsActive]) VALUES (1, N'Amr Al-maamari', N'amr7022@gmail.com', N'123456', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FCA46A11]    Script Date: 4/30/2025 10:05:24 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF__Alerts__IsActive__4E88ABD4]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF__Articles__Create__3B75D760]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF__Articles__Update__3C69FB99]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Challenges] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Challenges] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK__Alerts__TaskID__4F7CD00D] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK__Alerts__TaskID__4F7CD00D]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_Measurements] FOREIGN KEY([MeasurementID])
REFERENCES [dbo].[Measurements] ([MeasurementID])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_Measurements]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK__Articles__UserID__3D5E1FD2] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK__Articles__UserID__3D5E1FD2]
GO
ALTER TABLE [dbo].[Challenges]  WITH CHECK ADD  CONSTRAINT [FK__Challenge__Artic__4222D4EF] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Articles] ([ArticleID])
GO
ALTER TABLE [dbo].[Challenges] CHECK CONSTRAINT [FK__Challenge__Artic__4222D4EF]
GO
ALTER TABLE [dbo].[Challenges]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([ChallengeID])
REFERENCES [dbo].[Challenges] ([ChallengeID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewAlerts]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewAlerts]
(
    @AlertID int OUTPUT,
    @TaskID int,
	@MeasurementID int,
	@ScoreMeasurement NVARCHAR(MAX),
	@Notice NVARCHAR(MAX),
    @DateAndTime datetime,
    @IsCompleted bit
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Alerts (
            TaskID,
			MeasurementID,
			ScoreMeasurement,
			Notice,
            DateAndTime,
            IsCompleted
        ) VALUES (
            @TaskID,
			@MeasurementID,
			null,
			null,
            @DateAndTime,
            0
        );
        SELECT @AlertID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        SET @AlertID = NULL;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewArticles]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
              CREATE PROCEDURE [dbo].[SP_AddNewArticles]
(
    @ArticleID int OUTPUT,
    @Title nvarchar(400),
    @Description nvarchar(max),
    @UserID int
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Articles (
            Title,
            Description,
            UserID,
            CreatedAt,
            UpdatedAt
        ) VALUES (
            @Title,
            @Description,
            @UserID,
            GETDATE(),
            GETDATE()
        );
        SELECT @ArticleID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        SET @ArticleID = NULL;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewChallenges]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewChallenges]
(
    @ChallengeID int OUTPUT,
    @ArticleID int,
    @Title nvarchar(200),
    @Description nvarchar(max),
    @DurationTimes int,
    @TimesPerDay int,
    @StartDate date,
    @EndDate date,
    @CreatedAt datetime,
    @UpdatedAt datetime,
    @UserID int
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Challenges (
            ArticleID,
            Title,
            Description,
            DurationTimes,
            TimesPerDay,
            StartDate,
            EndDate,
            CreatedAt,
            UpdatedAt,
            UserID
        ) VALUES (
            @ArticleID,
            @Title,
            @Description,
            @DurationTimes,
            @TimesPerDay,
            @StartDate,
            @EndDate,
            GETDATE(),
            GETDATE(),
            @UserID
        );
        SELECT @ChallengeID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        SET @ChallengeID = NULL;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewTasks]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewTasks]
(
    @TaskID int OUTPUT,
    @ChallengeID int,
    @IsCompleted bit,
    @CreatedAt datetime,
    @UpdatedAt datetime
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Tasks (
            ChallengeID,
            IsCompleted,
            CreatedAt,
            UpdatedAt
        ) VALUES (
            @ChallengeID,
            0,
            GETDATE(),
            GETDATE()
        );
        SELECT @TaskID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        SET @TaskID = NULL;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAlertsInfoByID]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAlertsInfoByID]
(
    @AlertID int
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        select * FROM Alerts WHERE AlertID = @AlertID;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetArticlesInfoByID]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetArticlesInfoByID]
(
    @ArticleID int
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        select * FROM Articles WHERE ArticleID = @ArticleID;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_GetChallengesInfoByID]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
              CREATE PROCEDURE [dbo].[SP_GetChallengesInfoByID]
(
    @ChallengeID int
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        select * FROM Challenges WHERE ChallengeID = @ChallengeID;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTasksInfoByID]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
              CREATE PROCEDURE [dbo].[SP_GetTasksInfoByID]
(
    @TaskID int
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        select * FROM Tasks WHERE TaskID = @TaskID;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsersInfoByEmail]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_GetUsersInfoByEmail]
(
    @Email NVARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        select * FROM Users WHERE Email = @Email;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExists]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsUserExists]
    @Email nvarchar(250),
    @Password nvarchar(250)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND Password = @Password)
            SELECT CAST(1 AS BIT) AS UserExists;
        ELSE
            SELECT CAST(0 AS BIT) AS UserExists;
    END TRY
    BEGIN CATCH
        -- Optional: Log error details here
        SELECT CAST(0 AS BIT) AS UserExists;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAlertsByID]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
              CREATE PROCEDURE [dbo].[SP_UpdateAlertsByID]
    @AlertID int,
    @TaskID int,
    @MeasurementID int,
    @ScoreMeasurement nvarchar (max),
    @Notice nvarchar (max),
    @DateAndTime datetime,
    @IsCompleted bit  AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
    UPDATE Alerts
    SET
        TaskID = @TaskID,
        MeasurementID = @MeasurementID,
        ScoreMeasurement = @ScoreMeasurement,
        Notice = @Notice,
        DateAndTime = @DateAndTime,
        IsCompleted = 1   
		WHERE AlertID = @AlertID;
    END TRY
    BEGIN CATCH
        SELECT
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_STATE() AS ErrorState,
            ERROR_SEVERITY() AS ErrorSeverity,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE() AS ErrorLine,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateArticlesByID]    Script Date: 4/30/2025 10:05:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateArticlesByID]
    @ArticleID int,
    @Title nvarchar (100),
    @Description nvarchar (max)
	AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
    UPDATE Articles
    SET
        Title = @Title,
        Description = @Description,
        UpdatedAt = GETDATE()
		WHERE ArticleID = @ArticleID;
    END TRY
    BEGIN CATCH
        SELECT
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_STATE() AS ErrorState,
            ERROR_SEVERITY() AS ErrorSeverity,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE() AS ErrorLine,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;
GO
USE [master]
GO
